<!DOCTYPE html>
<html>

<head>
    <style>
        .image-container {
            display: inline-block;
            margin: 10px;
            /* 设置间距 */
        }

        .image-container img {
            width: 200px;
            /* 设置图片宽度 */
            height: auto;
            /* 保持图片比例 */
        }
    </style>
</head>

<body>
    <div class="image-container">
        <img src="../static/images/0074.jpg" alt="Image 1">
        <img src="../static/images/0074.jpg" alt="Image 2">
    </div>
    <div class="image-container">
        <img src="../static/images/0074.jpg" alt="Image 3">
        <img src="../static/images/0074.jpg" alt="Image 4">
    </div>
</body>

</html>