<!DOCTYPE html>
<html>

<head>
    <title>管理摄像头</title>
    {% include 'system/common/header.html' %}
</head>

<body class="pear-container">

    <div class="layui-card">
        <div class="layui-card-body">
            <table id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>

    <script type="text/html" id="toolbar">
    {% if authorize("system:cameramanage:delete") %}
        <button class="pear-btn pear-btn-sm" lay-event="batchdelete">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </button>
    {% endif %}
    </script>

    <script type="text/html" id="user-bar">
    {% if authorize("system:cameramanage:delete") %}
        <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="delete"><i
                class="layui-icon layui-icon-delete"></i>delete</button>
    {% endif %}
    </script>
    <script type="text/html" id="file-uploadTime">
    {{ '{{layui.util.toDateString(d.create_time,  "yyyy-MM-dd HH:mm:ss")}' |safe }}}
    </script>
    {% include 'system/common/footer.html' %}

    <script>
        layui.use(['table', 'form', 'jquery'], function () {
            let table = layui.table
            let form = layui.form
            let $ = layui.jquery
            let cols = [
                [
                    {
                        type: 'checkbox'
                    },
                    {
                        field: 'id',
                        title: 'ID',
                        sort: true,
                        align: 'center',
                        unresize: true,
                        width: 80
                    },
                    {
                        field: 'name',
                        title: '摄像头名称',
                        unresize: true,
                        align: 'center'
                    },
                    {
                        field: 'status',
                        title: '状态',
                        unresize: true,
                        align: 'center'
                    },

                    {
                        field: 'create_time',
                        title: '添加时间',
                        templet: '#file-uploadTime',
                        unresize: true,
                        align: 'center'
                    },
                    {
                        title: '操作',
                        toolbar: '#user-bar',
                        align: 'center',
                        unresize: true,
                        width: 200
                    }
                ]
            ]
            //从数据库获取数据--放到datatable中
            table.render({
                elem: '#dataTable',
                url: 'table',
                page: true,
                cols: cols,
                skin: 'line',
                toolbar: '#toolbar',
                defaultToolbar: [{
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh',
                }, 'filter', 'print', 'exports']
            })

            table.on('tool(dataTable)', function (obj) {
                if (obj.event === 'delete') {
                    window.delete(obj)
                }
            })
            //表单事件
            table.on('toolbar(dataTable)', function (obj) {
                if (obj.event === 'refresh') {
                    window.refresh()
                } else if (obj.event === 'batchdelete') {
                    window.batchdelete(obj)
                }
            })

            window.delete = function (obj) {
                layer.confirm('确定要删除该摄像机', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index)
                    let loading = layer.load()
                    //后端也该知道该相机被删除,推理立刻停止
                    $.ajax({
                        url: 'delete',
                        data: { id: obj.data['id'] },
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            layer.close(loading)
                            if (res.success) {
                                layer.msg(res.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    obj.del()
                                })
                            } else {
                                layer.msg(res.msg, {
                                    icon: 2,
                                    time: 1000
                                })
                            }
                        }
                    })
                })
            }

            window.batchdelete = function (obj) {
                let data = table.checkStatus(obj.config.id).data
                if (data.length === 0) {
                    layer.msg('未选中数据', {
                        icon: 3,
                        time: 1000
                    })
                    return false
                }
                var ids = []
                var hasCheck = table.checkStatus('dataTable')
                var hasCheckData = hasCheck.data
                if (hasCheckData.length > 0) {
                    $.each(hasCheckData, function (index, element) {
                        ids.push(element.id)
                    })
                }
                layer.confirm('确定要删除这些摄像头', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index)
                    let loading = layer.load()
                    $.ajax({
                        url: "{{ url_for('system.cameramanage.deletecamera_batch') }}",
                        data: { ids: ids },
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            layer.close(loading)
                            if (res.success) {
                                layer.msg(res.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    table.reload('dataTable')
                                })
                            } else {
                                layer.msg(res.msg, {
                                    icon: 2,
                                    time: 1000
                                })
                            }
                        }
                    })
                })
            }

            window.refresh = function () {
                table.reload('dataTable')
            }

        })
    </script>