<!DOCTYPE html>
<html>

<head>
    <title>登录</title>
    {% include 'system/common/header.html' %}
</head>

<body class="pear-container">

    <form class="layui-form" action="" onsubmit="return false">
        <div class="layui-form-item">
            <!-- 没有设置授权 -->
            <label class="layui-form-label">用户名:</label>
            <div class="layui-input-inline">
                <input type="text" name="username" required lay-verify="required" placeholder="用户名..." autocomplete="on"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码:</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="密码..."
                    autocomplete="on" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">流地址:</label>
            <div class="layui-input-block">
                <input type="text" name="rtspurl" required lay-verify="required" placeholder="流地址..." autocomplete="on"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    {% include 'system/common/footer.html' %}
    <script>
        //需要存到数据库
        layui.use('form', function () {
            var form = layui.form;
            form.on('submit(formDemo)', function (data) {
                $.ajax({
                    url: "{{ url_for('system.cameraadd.upload_api') }}",
                    data: { ids: ids },
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        layer.close(loading)
                        if (res.success) {
                            layer.msg(res.msg, {
                                icon: 1,
                                time: 1000
                            })
                        }
                        else {
                            layer.msg(res.msg, {
                                icon: 2,
                                time: 1000
                            })
                        }
                    }
                })

                // layer.msg(JSON.stringify(data.field));
                // return false;
            });
        });




    </script>